.piano {
  display: flex;
  flex-direction: row;
  user-select: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: white;
  align-items: center;

  &Container {
    position: relative;

    &Black {
      position: relative;
      transform: translateZ(10px);
      z-index: 100;
    }
    &White {
      position: relative;
      z-index: 50;

      flex: 1;
      margin: 0px 1px;
    }
  }

  &Black {
    @extend .key;
    position: absolute;
    height: 8rem;
    width: calc(100vw / 33);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;

    background: linear-gradient(
      180deg,
      rgba(116, 89, 67, 1) 40%,
      rgb(94, 66, 51) 100%
    );
    z-index: 1;
    transform: translateX(-50%);
  }
  &White {
    @extend .key;

    height: 12rem;
    background: linear-gradient(
      180deg,
      rgba(194, 176, 161, 0.4) 40%,
      rgba(163, 135, 112, 0.4) 100%
    );
  }

  p {
    transform: rotate(270deg);
  }
}

.pressing:hover {
  filter: brightness(0.7);
}
